form{
    width: 500px;
    margin: auto;
    padding: 20px;
    background-color: chocolate;
    font-size:20px ;
    font-family: verdana;
    color :white;
    }
    input[type =text] {
        width: 80%;
        padding: 5px;
        font-size: 20px;
        width: 100px;
    }
    body{
        background-color: orchid;
    }
    select{
    font-size: 20px;
    padding : 5px;
    background: #e0d3e8;
    }